### Project Specific ###

## Client and Server ##
**/*Thumbs.db
**/logs
**/asm
**/customnpcs/assets/customnpcs/textures/cache
**/journeymap/data
**/journeymap/config
**/journeymap/icon/entity
**/journeymap/icon/theme/Vault
**/journeymap/icon/theme/Victorian
**/journeymap/colorpalette*
**/reports
**/saves
**/screenshots
**/stats
**/patches
**/mods/carpentersblocks
**/.analytics

## Configs ##
**/config/YAMPST.nbt
**/config/splash.properties
**/config/IChunUtil_Stats.cfg
**/config/IChunUtil.cfg
**/config/InvTweaks.cfg
**/config/fastcraft.ini
**/config/hqm/editmode.cfg
**/config/madhelp/MadHelpContentList.json
**/config/madhelp/MadHelpSplashScreen.json
**/config/MCA/Worlds
**/journeymap/journeymap.log
**/mods/ruins_log.txt
**/usernamecache.json
**/icon.png
**/instance.cfg

## Client Only ##

## Server Only ##
**/server.properties