# Configuration file

##########################################################################################################
# 01_shared_settings
#--------------------------------------------------------------------------------------------------------#
# General Options
# Affect both client and server.  These configs must match for client and server, or
# strange and probably BAD things WILL happen.
##########################################################################################################

01_shared_settings {
}


##########################################################################################################
# 02_server_settings
#--------------------------------------------------------------------------------------------------------#
# Server Options
# Affect only server-side operations.  Will need to be set for dedicated servers, and single
# player (or LAN worlds).  Clients playing on remote servers can ignore these settings.
##########################################################################################################

02_server_settings {
    # Export entity name list
    # Default=false
    # If true, a text file will be created in the main ancientwarfare config directory containing a list of all registered in-game entity names.
    # These names may be used to populate the NPC target lists.
    B:export_entity_names=false

    # Max NPC Level
    # Default=10
    # How high can NPCs level up?  Npcs gain more health, attack damage, and overall
    # improved stats with each level.  Levels can go very high, but higher values may
    # result in overpowered NPCs once leveled up.
    I:npc_max_level=10

    # Time Between Work Ticks
    # Default=50
    # How many game ticks should pass between workers' processing work at a work-site.
    # Lower values result in more work output, higher values result in less work output.
    I:npc_work_ticks=50

    # XP Per Attack
    # Default=1
    # How much xp should an NPC gain each time they damage but do not kill an enemy?
    # Higher values will result in faster npc leveling.
    # Applies to both player-owned and faction-based NPCs.
    I:npc_xp_per_attack=1

    # XP Per Courier
    # Default=1
    # How much xp should an NPC gain each time it moves an item?
    # Higher values will result in faster npc leveling.
    # Applies to player-owned NPCs only.
    I:npc_xp_per_item_moved=1

    # XP Per Killnefault=5
    # How much xp should an NPC gain each time they kill an enemy?
    # Higher values will result in faster npc leveling.
    # Applies to both player-owned and faction-based NPCs.
    I:npc_xp_per_kill=5

    # XP Per Trade
    # Default=1
    # How much xp should an NPC gain each time successfully traded with?
    # Higher values will result in faster npc leveling and unlock more trade recipes.
    # Applies to both player-owned and faction-based NPCs.
    I:npc_xp_per_trade=1

    # XP Per Work
    # Default=1
    # How much xp should an NPC gain each time it works at a worksite?
    # Higher values will result in faster npc leveling.
    # Applies to player-owned NPCs only.
    I:npc_xp_per_work=1

    # Town Hall Max Activation Range
    # Default=100
    # How many blocks can a Town Hall be away from an NPC, while still detecting their death for possible resurrection.
    # This is a maximum, for server efficiency sake. Lower individual values can be setup from each block interaction GUI.
    I:town_hall_max_range=100

    # Default=100
    # How many game ticks should pass between Town Hall updates.This affect how an NPC can change its selected Town Hall by moving to different places.
    # Lower values will make an NPC change its Town Hall faster, but is more costly for a server.
    I:town_hall_ticks=100
}


##########################################################################################################
# 03_client_settings
#--------------------------------------------------------------------------------------------------------#
# Client Options
# Affect only client-side operations.  Many of these options can be set from the in-game Options GUI.
# Server admins can ignore these settings.
##########################################################################################################

03_client_settings {
    # Load Default Skin Pack
    # Default=true
    # If true, default skin pack will be loaded.
    # If false, default skin pack will NOT be loaded -- you will need to supply your own
    # skin packs or all npcs will use the default skin.
    B:load_default_skin_pack=true
    B:render_friendly_health=true
    B:render_friendly_nameplates=true
    B:render_hostile_health=true
    B:render_hostile_nameplates=true
    B:render_npc_ai=true
    B:render_team_colors=true
    B:render_work_points=true
}


##########################################################################################################
# 04_recipe_settings
#--------------------------------------------------------------------------------------------------------#
# Recipe Options
# Enable / Disable specific recipes, or remove the research requirements from specific recipes.
# Affect only server-side operations.  Will need to be set for dedicated servers, and single
# player (or LAN worlds).  Clients playing on remote servers can ignore these settings.
##########################################################################################################

04_recipe_settings {
}


