# Configuration file

fluids {
    S:fluid.adamantine.molten.cardrank=
    S:fluid.adamantine.molten.grammar=
    S:fluid.adamantine.molten.instability.factor_accessibility=
    S:fluid.adamantine.molten.instability.factor_flat=
    S:fluid.adamantine.molten.seabanned=
    S:fluid.aerotheum.cardrank=
    S:fluid.aerotheum.grammar=
    S:fluid.aerotheum.instability.factor_accessibility=
    S:fluid.aerotheum.instability.factor_flat=
    S:fluid.aluminum.molten.cardrank=
    S:fluid.aluminum.molten.grammar=
    S:fluid.aluminum.molten.instability.factor_accessibility=
    S:fluid.aluminum.molten.instability.factor_flat=
    S:fluid.aluminum.molten.seabanned=
    S:fluid.bedrockium.molten.cardrank=
    S:fluid.bedrockium.molten.grammar=
    S:fluid.bedrockium.molten.instability.factor_accessibility=
    S:fluid.bedrockium.molten.instability.factor_flat=
    S:fluid.bedrockium.molten.seabanned=
    S:fluid.bioethanol.cardrank=
    S:fluid.bioethanol.grammar=
    S:fluid.bioethanol.instability.factor_accessibility=
    S:fluid.bioethanol.instability.factor_flat=
    S:fluid.bioethanol.seabanned=
    S:fluid.biomass.cardrank=
    S:fluid.biomass.grammar=
    S:fluid.biomass.instability.factor_accessibility=
    S:fluid.biomass.instability.factor_flat=
    S:fluid.biomass.seabanned=
    S:fluid.bitumen.cardrank=
    S:fluid.bitumen.grammar=
    S:fluid.bitumen.instability.factor_accessibility=
    S:fluid.bitumen.instability.factor_flat=
    S:fluid.bitumen.seabanned=
    S:fluid.blood.cardrank=
    S:fluid.blood.grammar=
    S:fluid.blood.instability.factor_accessibility=
    S:fluid.blood.instability.factor_flat=
    S:fluid.blood.seabanned=
    S:fluid.brass.molten.cardrank=
    S:fluid.brass.molten.grammar=
    S:fluid.brass.molten.instability.factor_accessibility=
    S:fluid.brass.molten.instability.factor_flat=
    S:fluid.brass.molten.seabanned=
    S:fluid.coal.cardrank=
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.seabanned=
    S:fluid.copper.molten.cardrank=
    S:fluid.copper.molten.grammar=
    S:fluid.copper.molten.instability.factor_accessibility=
    S:fluid.copper.molten.instability.factor_flat=
    S:fluid.copper.molten.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.dark.steel.molten.cardrank=
    S:fluid.dark.steel.molten.grammar=
    S:fluid.dark.steel.molten.instability.factor_accessibility=
    S:fluid.dark.steel.molten.instability.factor_flat=
    S:fluid.dark.steel.molten.seabanned=
    S:fluid.elementium.molten.cardrank=
    S:fluid.elementium.molten.grammar=
    S:fluid.elementium.molten.instability.factor_accessibility=
    S:fluid.elementium.molten.instability.factor_flat=
    S:fluid.elementium.molten.seabanned=
    S:fluid.enderium.molten.cardrank=
    S:fluid.enderium.molten.grammar=
    S:fluid.enderium.molten.instability.factor_accessibility=
    S:fluid.enderium.molten.instability.factor_flat=
    S:fluid.enderium.molten.seabanned=
    S:fluid.fairy.molten.cardrank=
    S:fluid.fairy.molten.grammar=
    S:fluid.fairy.molten.instability.factor_accessibility=
    S:fluid.fairy.molten.instability.factor_flat=
    S:fluid.fairy.molten.seabanned=
    S:fluid.fluiddeath.cardrank=
    S:fluid.fluiddeath.grammar=
    S:fluid.fluiddeath.instability.factor_accessibility=
    S:fluid.fluiddeath.instability.factor_flat=
    S:fluid.fluiddeath.seabanned=
    S:fluid.fluidpure.cardrank=
    S:fluid.fluidpure.grammar=
    S:fluid.fluidpure.instability.factor_accessibility=
    S:fluid.fluidpure.instability.factor_flat=
    S:fluid.fluidpure.seabanned=
    S:fluid.fluxgoo.cardrank=
    S:fluid.fluxgoo.grammar=
    S:fluid.fluxgoo.instability.factor_accessibility=
    S:fluid.fluxgoo.instability.factor_flat=
    S:fluid.fluxgoo.seabanned=
    S:fluid.for.honey.cardrank=
    S:fluid.for.honey.grammar=
    S:fluid.for.honey.instability.factor_accessibility=
    S:fluid.for.honey.instability.factor_flat=
    S:fluid.for.honey.seabanned=
    S:fluid.fuel.cardrank=
    S:fluid.fuel.grammar=
    S:fluid.fuel.instability.factor_accessibility=
    S:fluid.fuel.instability.factor_flat=
    S:fluid.fuel.seabanned=
    S:fluid.gendustry.liquiddna.cardrank=
    S:fluid.gendustry.liquiddna.grammar=
    S:fluid.gendustry.liquiddna.instability.factor_accessibility=
    S:fluid.gendustry.liquiddna.instability.factor_flat=
    S:fluid.gendustry.liquiddna.seabanned=
    S:fluid.gendustry.mutagen.cardrank=
    S:fluid.gendustry.mutagen.grammar=
    S:fluid.gendustry.mutagen.instability.factor_accessibility=
    S:fluid.gendustry.mutagen.instability.factor_flat=
    S:fluid.gendustry.mutagen.seabanned=
    S:fluid.gendustry.protein.cardrank=
    S:fluid.gendustry.protein.grammar=
    S:fluid.gendustry.protein.instability.factor_accessibility=
    S:fluid.gendustry.protein.instability.factor_flat=
    S:fluid.gendustry.protein.seabanned=
    S:fluid.glass.cardrank=
    S:fluid.glass.grammar=
    S:fluid.glass.instability.factor_accessibility=
    S:fluid.glass.instability.factor_flat=
    S:fluid.glass.molten.cardrank=
    S:fluid.glass.molten.grammar=
    S:fluid.glass.molten.instability.factor_accessibility=
    S:fluid.glass.molten.instability.factor_flat=
    S:fluid.glass.molten.seabanned=
    S:fluid.glass.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.glue.cardrank=
    S:fluid.glue.grammar=
    S:fluid.glue.instability.factor_accessibility=
    S:fluid.glue.instability.factor_flat=
    S:fluid.glue.seabanned=
    S:fluid.hell_blood.cardrank=
    S:fluid.hell_blood.grammar=
    S:fluid.hell_blood.instability.factor_accessibility=
    S:fluid.hell_blood.instability.factor_flat=
    S:fluid.hell_blood.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.ice.cardrank=
    S:fluid.ice.grammar=
    S:fluid.ice.instability.factor_accessibility=
    S:fluid.ice.instability.factor_flat=
    S:fluid.ice.seabanned=
    S:fluid.iron.molten.cardrank=
    S:fluid.iron.molten.grammar=
    S:fluid.iron.molten.instability.factor_accessibility=
    S:fluid.iron.molten.instability.factor_flat=
    S:fluid.iron.molten.seabanned=
    S:fluid.juice.cardrank=
    S:fluid.juice.grammar=
    S:fluid.juice.instability.factor_accessibility=
    S:fluid.juice.instability.factor_flat=
    S:fluid.juice.seabanned=
    S:fluid.lead.molten.cardrank=
    S:fluid.lead.molten.grammar=
    S:fluid.lead.molten.instability.factor_accessibility=
    S:fluid.lead.molten.instability.factor_flat=
    S:fluid.lead.molten.seabanned=
    S:fluid.life_essence.cardrank=
    S:fluid.life_essence.grammar=
    S:fluid.life_essence.instability.factor_accessibility=
    S:fluid.life_essence.instability.factor_flat=
    S:fluid.life_essence.seabanned=
    S:fluid.liquidessence.cardrank=
    S:fluid.liquidessence.grammar=
    S:fluid.liquidessence.instability.factor_accessibility=
    S:fluid.liquidessence.instability.factor_flat=
    S:fluid.liquidessence.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.manasteel.molten.cardrank=
    S:fluid.manasteel.molten.grammar=
    S:fluid.manasteel.molten.instability.factor_accessibility=
    S:fluid.manasteel.molten.instability.factor_flat=
    S:fluid.manasteel.molten.seabanned=
    S:fluid.milk.cardrank=
    S:fluid.milk.grammar=
    S:fluid.milk.instability.factor_accessibility=
    S:fluid.milk.instability.factor_flat=
    S:fluid.milk.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.nickel.molten.cardrank=
    S:fluid.nickel.molten.grammar=
    S:fluid.nickel.molten.instability.factor_accessibility=
    S:fluid.nickel.molten.instability.factor_flat=
    S:fluid.nickel.molten.seabanned=
    S:fluid.obsidian.molten.cardrank=
    S:fluid.obsidian.molten.grammar=
    S:fluid.obsidian.molten.instability.factor_accessibility=
    S:fluid.obsidian.molten.instability.factor_flat=
    S:fluid.obsidian.molten.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.poison.cardrank=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.seabanned=
    S:fluid.pokefennium.molten.cardrank=
    S:fluid.pokefennium.molten.grammar=
    S:fluid.pokefennium.molten.instability.factor_accessibility=
    S:fluid.pokefennium.molten.instability.factor_flat=
    S:fluid.pokefennium.molten.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.red.aurum.molten.cardrank=
    S:fluid.red.aurum.molten.grammar=
    S:fluid.red.aurum.molten.instability.factor_accessibility=
    S:fluid.red.aurum.molten.instability.factor_flat=
    S:fluid.red.aurum.molten.seabanned=
    S:fluid.redmetal.molten.cardrank=
    S:fluid.redmetal.molten.grammar=
    S:fluid.redmetal.molten.instability.factor_accessibility=
    S:fluid.redmetal.molten.instability.factor_flat=
    S:fluid.redmetal.molten.seabanned=
    S:fluid.redplasma.cardrank=
    S:fluid.redplasma.grammar=
    S:fluid.redplasma.instability.factor_accessibility=
    S:fluid.redplasma.instability.factor_flat=
    S:fluid.redplasma.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.molten.cardrank=
    S:fluid.redstone.molten.grammar=
    S:fluid.redstone.molten.instability.factor_accessibility=
    S:fluid.redstone.molten.instability.factor_flat=
    S:fluid.redstone.molten.seabanned=
    S:fluid.redstone.seabanned=
    S:fluid.seedoil.cardrank=
    S:fluid.seedoil.grammar=
    S:fluid.seedoil.instability.factor_accessibility=
    S:fluid.seedoil.instability.factor_flat=
    S:fluid.seedoil.seabanned=
    S:fluid.short.mead.cardrank=
    S:fluid.short.mead.grammar=
    S:fluid.short.mead.instability.factor_accessibility=
    S:fluid.short.mead.instability.factor_flat=
    S:fluid.short.mead.seabanned=
    S:fluid.slime.blue.cardrank=
    S:fluid.slime.blue.grammar=
    S:fluid.slime.blue.instability.factor_accessibility=
    S:fluid.slime.blue.instability.factor_flat=
    S:fluid.slime.blue.seabanned=
    S:fluid.steam.cardrank=
    S:fluid.steam.grammar=
    S:fluid.steam.instability.factor_accessibility=
    S:fluid.steam.instability.factor_flat=
    S:fluid.stone.seared.cardrank=
    S:fluid.stone.seared.grammar=
    S:fluid.stone.seared.instability.factor_accessibility=
    S:fluid.stone.seared.instability.factor_flat=
    S:fluid.stone.seared.seabanned=
    S:fluid.terrasteel.molten.cardrank=
    S:fluid.terrasteel.molten.grammar=
    S:fluid.terrasteel.molten.instability.factor_accessibility=
    S:fluid.terrasteel.molten.instability.factor_flat=
    S:fluid.terrasteel.molten.seabanned=
    S:fluid.tin.molten.cardrank=
    S:fluid.tin.molten.grammar=
    S:fluid.tin.molten.instability.factor_accessibility=
    S:fluid.tin.molten.instability.factor_flat=
    S:fluid.tin.molten.seabanned=
    S:fluid.voidmetal.molten.cardrank=
    S:fluid.voidmetal.molten.grammar=
    S:fluid.voidmetal.molten.instability.factor_accessibility=
    S:fluid.voidmetal.molten.instability.factor_flat=
    S:fluid.voidmetal.molten.seabanned=
    S:"fluid.witchery:brew.cardrank"=
    S:"fluid.witchery:brew.grammar"=
    S:"fluid.witchery:brew.instability.factor_accessibility"=
    S:"fluid.witchery:brew.instability.factor_flat"=
    S:"fluid.witchery:brew.seabanned"=
    S:"fluid.witchery:brewliquid.cardrank"=
    S:"fluid.witchery:brewliquid.grammar"=
    S:"fluid.witchery:brewliquid.instability.factor_accessibility"=
    S:"fluid.witchery:brewliquid.instability.factor_flat"=
    S:"fluid.witchery:brewliquid.seabanned"=
    S:"fluid.witchery:fluiddisease.cardrank"=
    S:"fluid.witchery:fluiddisease.grammar"=
    S:"fluid.witchery:fluiddisease.instability.factor_accessibility"=
    S:"fluid.witchery:fluiddisease.instability.factor_flat"=
    S:"fluid.witchery:fluiddisease.seabanned"=
    S:"fluid.witchery:fluidspirit.cardrank"=
    S:"fluid.witchery:fluidspirit.grammar"=
    S:"fluid.witchery:fluidspirit.instability.factor_accessibility"=
    S:"fluid.witchery:fluidspirit.instability.factor_flat"=
    S:"fluid.witchery:fluidspirit.seabanned"=
    S:"fluid.witchery:hollowtears.cardrank"=
    S:"fluid.witchery:hollowtears.grammar"=
    S:"fluid.witchery:hollowtears.instability.factor_accessibility"=
    S:"fluid.witchery:hollowtears.instability.factor_flat"=
    S:"fluid.witchery:hollowtears.seabanned"=
    S:fluid.zinc.molten.cardrank=
    S:fluid.zinc.molten.grammar=
    S:fluid.zinc.molten.instability.factor_accessibility=
    S:fluid.zinc.molten.instability.factor_flat=
    S:fluid.zinc.molten.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


