# Configuration file

campfire {
    # Max fuel of a campfire in ticks. [range: 0 ~ 2147483647, default: 20000]
    I:"Campfire Max Fuel"=20000

    # Fuel worth of 1 coal pice in ticks. [range: 0 ~ 2147483647, default: 1000]
    I:"Coal Fuel"=1000

    # Time in ticks to complete grill cook cycle. [range: 0 ~ 2147483647, default: 600]
    I:"Grill cook time"=600

    # Time in ticks to complete pan cook cycle. [range: 0 ~ 2147483647, default: 1000]
    I:"Pan cook time"=1000

    # Time in ticks to complete spit cook cycle. [range: 0 ~ 2147483647, default: 300]
    I:"Spit cook time"=300
}


food {
    # The amount of lives a marshmallow heals (in half harts). [range: 0 ~ 2147483647, default: 3]
    I:"Marshmallow Heal Amount"=3

    # The amount of saturation a marshmallow gives. [range: 0.0 ~ 3.4028235E38, default: 1.0]
    S:"Marshmallow Saturation Amount"=0.2

    # The amount of lives a raw venison heals (in half harts). [range: 0 ~ 2147483647, default: 4]
    I:"Raw Venison Heal Amount"=4

    # The amount of saturation a raw venison gives. [range: 0.0 ~ 3.4028235E38, default: 2.0]
    S:"Raw Venison Saturation Amount"=2.0

    # The amount of lives a cooked venison heals (in half harts). [range: 0 ~ 2147483647, default: 10]
    I:"Venison Heal Amount"=10

    # The amount of saturation a cooked venison gives. [range: 0.0 ~ 3.4028235E38, default: 14.0]
    S:"Venison Saturation Amount"=14.0
}


general {
    # Only use the core features of the camping mod. WARNING! use carfully! [default: false]
    B:"Core Features Only"=false

    # Primary inventory option, is settable in the Camping Inventory! [range: 0 ~ 2, default: 0]
    I:"Primary Inventory Option"=1

    # Secundairy inventory option, is settable in the Camping Inventory! [range: 0 ~ 4, default: 0]
    I:"Secundairy Inventory Option"=0
}


tools {
    # The durability of the pocket knife. [range: 0 ~ 2147483647, default: 200]
    I:"Knife Durability"=200

    # Bear traps can trap players. [default: true]
    B:"Trap players in Bear Trap"=true
}


"world genaration" {
    # Rareness of the campsite world generation [range: 0 ~ 2147483647, default: 5]
    I:"Campsite Rareness"=5

    # Enable/Disable the world generation for Campsites. [default: true]
    B:"Enable Campsite generation"=true

    # Enable/Disable the world generation for Hemp plants. [default: true]
    B:"Enable Hemp generation"=true

    # Enable/Disable all of the world generation of this mod. [default: true]
    B:"Enable World generation"=true

    # Multiplier for the hemp world generaion. [range: 0 ~ 2147483647, default: 3]
    I:"Hemp Generation Multiplier"=2

    # The growth rate of the hemp plant. [range: 0.0 ~ 3.4028235E38, default: 1.0]
    S:"Hemp Growth Speed"=1.0

    # Spawn Grizzly Bears in forrests [default: true]
    B:"Spawn Bears"=true

    # Spawn Arctic Foxes in snowy regions [default: true]
    B:"Spawn Foxes"=true
}


