# Configuration file

dimension {
    I:"Dimension ID: MiddleEarth"=100
    I:"Dimension ID: Utumno"=101
}


environment {
    B:Ambience=true

    # Toggle the new Middle-earth sky
    B:"Middle-earth sky"=true

    # Toggle mist in the Misty Mountains
    B:"Misty Misty Mountains"=true
    B:"Sun flare"=true
}


gameplay {
    B:"Allow Banner Protection"=true
    B:"Allow Self-Protecting Banners"=true

    # Mainly intended for servers. Disable the vanilla enchanting system, as it is not 'lore-friendly'
    B:"Enable Enchanting"=true
    B:"Enable Fast Travel"=true

    # Enable or disable the buildable Middle-earth portals (excluding the Ring Portal). If disabled, portals can still be made, but will not function
    B:"Enable Middle-earth Portals"=true
    B:"Enable Orc Skirmishes"=true

    # Mainly intended for servers. Disable the vanilla potion brewing system, as it is not 'lore-friendly'
    B:"Enable Potion Brewing"=true
    B:"Enable Titles"=true

    # Enable or disable sheep dropping the mod's mutton items
    B:"Mutton Drops"=true
    B:"NPCs give mini-quests"=true

    # Cooldown time (in ticks) between appearances of the warning message for banner-protected land
    I:"Protection Warning Cooldown"=20
    B:"Remove Golden Apple recipes"=false
}


general {
    I:"Alignment X Offset"=0
    I:"Alignment Y Offset"=0
    B:"Always show alignment"=false
    I:"Dimension ID"=100
    B:"Display alignment above head"=true
    B:"Enable LOTR sky"=true
    B:"Enable Mist"=true
    B:"Move alignment when boss"=true
    B:"Sepia Map"=false
}


gui {
    # Configure the x-position of the alignment bar on-screen. Negative values move it left, positive values right
    I:"Alignment x-offset"=0

    # Configure the y-position of the alignment bar on-screen. Negative values move it up, positive values down
    I:"Alignment y-offset"=0

    # If set to false, the alignment bar will only be shown in Middle-earth. If set to true, it will be shown in all dimensions
    B:"Always show alignment"=false
    B:"Animated Elven blade glow"=true

    # Enable or disable the rendering of other players' alignment values above their heads
    B:"Display alignment above head"=true
    B:"Hired NPC Health Bars"=true
    B:"Hired NPC Icons"=true

    # If set to true, NPC speech will appear on-screen with the NPC. If set to false, it will be sent to the chat box
    B:"Immersive Speech"=true

    # Toggle whether speech still shows in the chat box when Immersive Speech is enabled
    B:"Immersive Speech Chat Logs"=false
    B:"Melee attack meter"=true
    B:"On-screen Compass"=false

    # Display co-ordinates and biome below compass
    B:"On-screen Compass Extra Info"=false

    # Display the Middle-earth map in sepia colours
    B:"Sepia Map"=false
}


